  body {
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/free-photo/abstract-textured-backgound_1258-30495.jpg?size=338&ext=jpg&ga=GA1.1.632798143.1705449600&semt=ais'); /* Adjust the path accordingly */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-position: 100%;

  }


div {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h2 {
    color: #343a40;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #495057;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  button {
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  
  h3 {
    margin-top: 20px;
    color: #343a40;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 15px;
    border-bottom: 1px solid #ced4da;
    padding-bottom: 10px;
  }
  
  p {
    margin: 0;
    color: #343a40;
    font-weight: bold;
  }
  .container,
  .container-fluid {
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

















  /* body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa; 
  }
  
  .container,
  .container-fluid {
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .container h2,
  .container-fluid h2 {
    color: #343a40;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #495057;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  button {
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 15px;
    border-bottom: 1px solid #ced4da;
    padding-bottom: 10px;
  }
  
  p {
    margin: 0;
    color: #343a40;
    font-weight: bold;
  } */
  
  

  