body {
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/premium-photo/business-meeting_53876-91042.jpg'); /* Adjust the path accordingly */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }