<body >
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-5">
                <div class="card">
                    <div class="card-header">
                        <h1>Welcome to Your ERP System</h1>
                        <button routerLink="/user" class="btn btn-primary mb-2">About Users</button>
                        <button routerLink="/manager-list" class="btn btn-primary mb-2">About Managers</button>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Explore the features and modules to efficiently manage your enterprise resources.</p>
                                <hr>
                                <p>Get started by using the quick access links or navigating through the menu.</p>
                                <!-- <a href="#" class="btn btn-primary">Explore Modules</a> -->
                            </div>
                            <div class="col-md-6">

                                <img src="assets/ERP.jpg" alt="Your Image" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer class="fixed-bottom bg-dark text-white"> All rights are reserved.</footer>