






















<!-- <h1 class="text-center">Manager Registration</h1>

<form [formGroup]="editManagerForm" (ngSubmit)="UpdateManager()">
    <div *ngIf="alert"  class="alert alert-success" role="alert">
       Successfully Registered!
      </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Employee ID</label>
        <input type="text" class="form-control" formControlName="id" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleInputPassword1" formControlName="name">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputPassword1" formControlName="email">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Department</label>
        <input type="text" class="form-control" id="exampleInputPassword1" formControlName="department">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form> -->