
<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            <h3>404 - Not Found</h3>
          </div>
          <div class="card-body">
            <p class="lead">Sorry, the page you are looking for might be in another galaxy.</p>
            <img src="assets/error-404.jpg" alt="Error 404 Image" class="img-fluid">
            
            <hr>
            <p>Return to <a routerLink="/">home page</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  