<div class="container mt-5 d-flex justify-content-center align-items-center">
    <div class="card p-4" style="width: 80vw; max-width: 600px;">
        <div class="card-body">
            <p class="card-text h3">ID: {{selectedUser?.id}}</p>
            <p class="card-text h3">Name: {{selectedUser?.name}}</p>
            <p class="card-text h3">Email: {{selectedUser?.email}}</p>
            <p class="card-text h3">Department: {{selectedUser?.department}}</p>

            <button class="btn btn-primary mt-3" routerLink="/user">Back</button>
        </div>
    </div>
</div>

